<!-- Carousel starts here -->

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">

	    <div class="item active">
	      <%= link_to image_tag("artwalk.jpg", :width => "100%", :alt => "DTLA Art Walk", :class => "visible-xl-block visible-lg-block visible-md-block"), "events/545983843437360002010000" %>	
	      <%= link_to image_tag("artwalktall.jpg", :width => "100%", :alt => "DTLA Art Walk", :class => "visible-xs-block visible-sm-block"), "events/545983843437360002010000" %>	      
	      <div class="carousel-caption">
	        <h3>DTLA Art Walk</h3>
			 <p><span class="at_symbol">@</span> DTLA Historic Core</p>
			 <p>Every Thursday <span class="at_symbol">|</span> 6:00 PM</p>
	      </div>
	    </div>

	    <div class="item">
	      <%= link_to image_tag("monday.jpg", :width => "100%", :alt => "Westside Thanksgiving", :class => "visible-xl-block visible-lg-block visible-md-block visible-sm-block"), "events/5459a3fd3163300002000000" %>
	      <%= link_to image_tag("mondaytall.jpg", :width => "100%", :alt => "Westside Thanksgiving", :class => "visible-xs-block"), "events/5459a3fd3163300002000000" %>	      
	      <div class="carousel-caption">
	        <h3>Monday Night Residency</h3>
			 <p><span class="at_symbol">@</span> Echoplex</p>
			 <p>Every Monday <span class="at_symbol">|</span> 8:30 PM</p>
	      </div>
	    </div>

	    <div class="item">
	      <%= link_to image_tag("scon.jpg", :width => "100%", :alt => "SantaCon", :class => "visible-xl-block visible-lg-block visible-md-block visible-sm-block"), "events/54599c696434610002020000" %>
	      <%= link_to image_tag("scontall.jpg", :width => "100%", :alt => "SantaCon", :class => "visible-xs-block"), "events/54599c696434610002020000" %>
	      <div class="carousel-caption">
	        <h3>SantaCon 2014</h3>
	        <p><span class="at_symbol">@</span> All Over LA</p>
	        <p>Saturday, Dec 13 <span class="at_symbol">|</span> 6:30 PM</p>
	      </div>
	    </div>

	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <i class="fa fa-caret-left fa-3x carousel_picker"></i></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <i class="fa fa-caret-right fa-3x carousel_picker"></i></span>
	  </a>
	</div>

		<!-- Carousel ends here -->