<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand visible-xs-block">Filter Events</span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav_center">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event Type <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "All Events", events_path(categoryfilter:"all_events") %></li>
            <li><%= link_to "Art Walks", events_path(categoryfilter:"art_walk") %></li>
            <li><%= link_to "Community", events_path(categoryfilter:"community") %></li>
            <li><%= link_to "Festivals", events_path(categoryfilter:"festival") %></li>
            <li><%= link_to "Free Booze", events_path(categoryfilter:"free_booze") %></li>
            <li><%= link_to "Free Food", events_path(categoryfilter:"free_food") %></li>
            <li><%= link_to "Free Music", events_path(categoryfilter:"free_music") %></li>
            <li><%= link_to "Free Party", events_path(categoryfilter:"free_party") %></li>
            <li><%= link_to "Free Yoga", events_path(categoryfilter:"free_yoga") %></li>
            <li><%= link_to "Street Fairs", events_path(categoryfilter:"street_fair") %></li>
            <li><%= link_to "Other", events_path(categoryfilter:"other") %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Neighborhood <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "All Neighborhoods", events_path(categoryfilter:"all_events") %></li>
            <li><%= link_to "Beverly Hills", events_path(categoryfilter:"beverly_hills") %></li>
            <li><%= link_to "Burbank", events_path(categoryfilter:"burbank") %></li>
            <li><%= link_to "Culver City", events_path(categoryfilter:"culver_city") %></li>
            <li><%= link_to "Downtown LA", events_path(categoryfilter:"downtown_la") %></li>
            <li><%= link_to "Eagle Rock", events_path(categoryfilter:"eagle_rock") %></li>
            <li><%= link_to "East LA", events_path(categoryfilter:"east_la") %></li>
            <li><%= link_to "Echo Park", events_path(categoryfilter:"echo_park") %></li>
            <li><%= link_to "Exposition Park / USC", events_path(categoryfilter:"free_music") %></li>
            <li><%= link_to "Glendale", events_path(categoryfilter:"glendale") %></li>
            <li><%= link_to "Griffith Park", events_path(categoryfilter:"griffith_park") %></li>
            <li><%= link_to "Hermosa Beach", events_path(categoryfilter:"hermosa_beach") %></li>
            <li><%= link_to "Highland Park", events_path(categoryfilter:"highland_park") %></li>
            <li><%= link_to "Hollywood", events_path(categoryfilter:"hollywood") %></li>
            <li><%= link_to "Koreatown", events_path(categoryfilter:"koreatown") %></li>
            <li><%= link_to "Long Beach", events_path(categoryfilter:"long_beach") %></li>
            <li><%= link_to "Los Feliz", events_path(categoryfilter:"los_feliz") %></li>
            <li><%= link_to "Malibu", events_path(categoryfilter:"malibu") %></li>
            <li><%= link_to "Manhattan Beach", events_path(categoryfilter:"manhattan_beach") %></li>
            <li><%= link_to "Marina del Rey", events_path(categoryfilter:"marina_del_rey") %></li>
            <li><%= link_to "Mid-City", events_path(categoryfilter:"mid_city") %></li>
            <li><%= link_to "North Hollywood", events_path(categoryfilter:"north_hollywood") %></li>
            <li><%= link_to "Orange County", events_path(categoryfilter:"orange_county") %></li>
            <li><%= link_to "Pasadena", events_path(categoryfilter:"pasadena") %></li>
            <li><%= link_to "Pomona", events_path(categoryfilter:"pomona") %></li>
            <li><%= link_to "San Gabriel Valley", events_path(categoryfilter:"free_music") %></li>
            <li><%= link_to "Santa Monica", events_path(categoryfilter:"santa_monica") %></li>
            <li><%= link_to "Sherman Oaks", events_path(categoryfilter:"sherman_oaks") %></li>
            <li><%= link_to "Silver Lake", events_path(categoryfilter:"silver_lake") %></li>
            <li><%= link_to "Studio City", events_path(categoryfilter:"studio_city") %></li>
            <li><%= link_to "Universal City", events_path(categoryfilter:"universal_city") %></li>
            <li><%= link_to "Venice", events_path(categoryfilter:"venice") %></li>
            <li><%= link_to "West Hollywood", events_path(categoryfilter:"west_hollywood") %></li>
            <li><%= link_to "Westwood", events_path(categoryfilter:"westwood") %></li>
            <li><%= link_to "Other...", events_path(categoryfilter:"other") %></li>
          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>