<div class="main_header">
	<div class="inner_header">

      <!-- site logo (full size version) -->
      <%= link_to image_tag("freela.png", :alt => "LA Free Events Guide", :class => "logo visible-xl-block visible-lg-block visible-md-block visible-sm-block"), "/" %>

      <!-- site logo (mobile version) -->
      <%= link_to image_tag("freela.png", :alt => "LA Free Events Guide", :class => "small_logo visible-xs-block"), "/" %>

    <div class="sign_up">
      
      <% if current_user %>

        <span class="logged_in">
          <span class="white"><%= current_user.email %></span><br>
          
          <!-- 'Add event' and 'Logout' links for mobile view -->
          <div class="visible-xs inline">
              <a href="" data-toggle="modal" data-target="#addEvent" class="inline">Add Event</a> <span class="white">|</span> <%= link_to "Logout", sessions_path, method: :delete %>
          </div>

          <!-- 'Logout' link for full size view -->
          <div class="visible-sm-block visible-md-block visible-lg-block visible-xl-block">
            <%= link_to "Logout", sessions_path, method: :delete %>
          </div>

        </span>

        <!-- Button to trigger 'Add Event' modal -->
        <button type="button" class="btn btn-primary btn-lg event_modal_button visible-sm-block visible-md-block visible-lg-block visible-xl-block" data-toggle="modal" data-target="#addEvent">Add a New Event</button>

      <% else %>

        <!-- sign up link -->
        <a href="" data-toggle="modal" data-target="#signupModal" class="signup_text">Sign Up</a>

        <span class="pipe_symbol">|</span> 

        <!-- login link -->
        <a href="" data-toggle="modal" data-target="#loginModal" class="signup_text">Login</a>

      <% end %>
    </div>

	  
  </div>
</div>