<!-- google maps script for home page 'Map View' -->
  <script type="text/javascript">
  
 function initialize() {
      $("#mapModal").on("shown.bs.modal", function(e) {
        google.maps.event.trigger(map, "resize");

      });
      var map;
      var elevator;
      var myOptions = {
          zoom: 10,
          center: new google.maps.LatLng(34.2200, -118.8900),
          mapTypeId: 'terrain'
      };
      map = new google.maps.Map($('#map-canvas')[0], myOptions);
      <% @events.each do |e| %>
      var addresses = ['<%= e.address %>'];

      for (var x = 0; x < addresses.length; x++) {
          $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address='+addresses[x]+'&sensor=false', null, function (data) {
              var p = data.results[0].geometry.location
              var latlng = new google.maps.LatLng(p.lat, p.lng);
               
              var marker = new google.maps.Marker({
                  position: latlng,
                  map: map
              });
              var infowindow = new google.maps.InfoWindow({
                content: '<strong><a href="/events/<%= e.id %>"><%= e.title %></a></strong><br>@ <%= e.venue %><br><%= e.address %>'
              });
        
              google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
              });

          });
      }
      <% end %>
  };
  google.maps.event.addDomListener(window, 'load', initialize);
  google.maps.event.addDomListener(window, 'page:load', initialize);
  </script>