<div class="main_content">

	<h1>Edit Event</h1>

	<%= form_for @event do |f| %>
		<p>Event Name: <%= f.text_field :title %></p>
		<p>Date: <%= f.date_field :date %></p>
		<p>Time: <%= f.time_field :time %></p>
		<p>Venue: <%= f.text_field :venue %></p>
		<p>Address: <%= f.text_field :address %></p>
		<p>Neighborhood: <%= f.select :neighborhood, [['Choose a neighborhood...'],['Beverly Hills','beverly hills'],['Burbank','burbank'],['Culver City','culver city'],['Downtown LA','downtown la'],['Eagle Rock','eagle rock'],['East LA','east la'],['Echo Park','echo park'],['Exposition Park / USC','exposition park / usc'],['Glendale','glendale'],['Griffith Park','griffith park'],['Hermosa Beach','hermosa beach'],['Highland Park','highland park'],['Hollywood','hollywood'],['Koreatown','koreatown'],['Long Beach','long beach'],['Los Feliz','los feliz'],['Malibu','malibu'],['Manhattan Beach','manhattan beach'],['Marina del Rey','marina del rey'],['Mid-City','mid-city'],['North Hollywood','north hollywood'],['Orange County','orange county'],['Pasadena','pasadena'],['Pomona','pomona'],['San Gabriel Valley','san gabriel valley'],['Santa Monica','santa monica'],['Sherman Oaks','sherman oaks'],['Silver Lake','silver lake'],['Studio City','studio city'],['Universal City','universal city'],['Venice','venice'],['West Hollywood','west hollywood'],['Westwood','westwood'],['Other...','other...']] %></p>
		<p>Event URL: <%= f.text_field :url %></p>
		<p>Image URL: <%= f.text_field :imageurl %></p>
		<img src="<%= @event.imageurl %>" class="event_image">
		<p>Upload Img: <%= f.file_field :image %></p>
		<p>Event Type: <%= f.select :category, [['Choose a category...'],['Art Walk','art walk'],['Community','community'],['Festival','festival'],['Free Booze','free booze'],['Free Food','free food'],['Free Music','free music'],['Free Party','free party'],['Free Yoga','free yoga'],['Meet Up','meet up'],['Street Fair','street fair'],['Other','other']] %></p>
		<p>Description: <%= f.text_area :description %></p>
		
		<%= f.submit "Submit" %><br><br>

	<% end %>

	<%= link_to "Back", events_path %>
</div>