<%= render :partial => 'maps_index.html.erb' %>
<div class="main_content">

	
	<!-- featured event slider rendered here -->
	<%= render :partial => 'carousel.html.erb' %>

	<!-- filter navigation for events rendered here -->
 	<a name="event_anchor"><br></a>
	<%= render :partial => 'filter_nav.html.erb' %>

	<!-- show each (non-featured) event in database -->
	<% @events.each do |e| %>
		<div class="col-md-3 col-sm-6 col-xs-12 events_container animated fadeInUp">
			<a href="/events/<%= e.id %>" class="event_link" style="text-decoration: none; color:black;">
			<div class="each_event">

				<!-- event title -->
				<h3><%= e.title %></h3><br>

				<!-- event venue -->
				<span class="at_symbol">@</span> <%= e.venue %></p>

				<!-- event date and time -->
				<p><%= e.date.strftime("%A, %b %d") %> <span class="at_symbol">|</span> <%= e.time.strftime("%I:%M %p") %>
			</div>

			<!-- event image (either uploaded or submitted via image url) -->
			<% if e.image.file? %>
  				<%= image_tag e.image.url, :class => 'index_event_image' %>
			<% else %>
  				<%= image_tag e.imageurl, :class => 'index_event_image' %>
			<% end %>
			</a>

		</div>
	<% end %>

	<%= render :partial => 'map_modal.html.erb' %>

	<%= render :partial => 'event_modal.html.erb' %>

	<%= render :partial => 'signup_modal.html.erb' %>

	<%= render :partial => 'login_modal.html.erb' %>

</div>

	<!-- this renders the footer, duh -->
	<%= render :partial => 'footer.html.erb' %>
