<%= render :partial => 'maps_index.html.erb' %>
<div class="main_content">

	

	<%= render :partial => 'carousel.html.erb' %>

<!-- 	<h1 class="more_events_header">More Free Events</h1><br><br>
 -->
 	<a name="event_anchor"><br></a>
	<%= render :partial => 'filter_nav.html.erb' %>


	<% @events.each do |e| %>
		<div class="col-md-3 col-sm-6 col-xs-12 events_container animated fadeIn">
			<a href="/events/<%= e.id %>" class="event_link" style="text-decoration: none; color:black;">
			<div class="each_event">
				<h3><%= e.title %></h3><br>
				<span class="at_symbol">@</span> <%= e.venue %></p>
				<p><%= e.date.strftime("%A, %b %d") %> <span class="at_symbol">|</span> <%= e.time.strftime("%I:%M %p") %>
			</div>
			<% if e.image.file? %>
  				<%= image_tag e.image.url, :class => 'index_event_image' %>
			<% else %>
  				<%= image_tag e.imageurl, :class => 'index_event_image' %>
			<% end %>
			</a>

		</div>
	<% end %>

	<%= render :partial => 'map_modal.html.erb' %>

	<%= render :partial => 'event_modal.html.erb' %>

	<%= render :partial => 'signup_modal.html.erb' %>

	<%= render :partial => 'login_modal.html.erb' %>

</div>

	<%= render :partial => 'footer.html.erb' %>
