<!-- google maps api for the show events page -->
<%= render :partial => 'maps_show.html.erb' %>

 <div class="main_content">

	<!-- event image (show uploaded image if it exists, else show entered imageurl -->
	<div class="col-lg-3 col-xs-12" style="padding-right: 0px; margin-right: 22px;">
		

  			<a href="<%= @oneevent.url %>" target="_blank"><%= image_tag @oneevent.imageurl, :class => 'show_event_image' %></a>

	</div>

	<div class="col-lg-5 col-xs-12">

		<!-- event title -->
		<h1><%= @oneevent.title %></h1>
		
		<!-- event venue -->
		<strong><span class="at_symbol">@</span> <%= @oneevent.venue %></strong>

		<!-- event time and date -->
		<p><%= @oneevent.date.strftime("%A, %b %d") %> at <%= @oneevent.time.strftime("%I:%M %p") %></p>


		<p><%= @oneevent.description %></p>

		<!-- social share buttons -->
		<div>
			<!-- facebook share -->
			<a href="http://www.facebook.com/sharer/sharer.php?u=/events/<%= @oneevent.id %>&t=<%= @oneevent.title %>" target="_blank"><img src="../../assets/fb.png" class="socials_large" style="width: 40px; height: 40px; margin-top:8px;"></a>

			<!-- twitter share -->
			<a href="http://twitter.com/intent/tweet?url=http://free-la.herokuapp.com/events/<%= @oneevent.id %>&text=Check%20out%20<%= @oneevent.title %>%20on%20Free::LA" target="_blank"><img src="../../assets/twit.png" class="socials_large" style="width: 40px; height: 40px; margin-top:8px;"></a>

			<!-- email share -->
			<a href="mailto:?subject=Check out <%= @oneevent.title %> on Free::LA&amp;body=Check out <%= @oneevent.title %> on Free::LA - http://free-la.herokuapp.com/events/<%= @oneevent.id %>"><img src="../../assets/email.png" class="socials_large" style="width: 40px; height: 40px; margin-top:8px;"></a>

		</div>
		<%= render :partial => 'event_modal.html.erb' %>

		<%= render :partial => 'signup_modal.html.erb' %>

		<%= render :partial => 'login_modal.html.erb' %>
	</div>

	<!-- google map -->
	<div id="map_canvas" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12" style="width: 400px;height: 260px;margin: 20px auto 15px auto;"></div>

	<!-- iframe that loads the website for the event -->
	<p><iframe src="<%= @oneevent.url %>" class="iframe animated fadeIn" frameBorder="0"></iframe></p>
	
	
</div>

	<!-- this renders the footer, duh -->
	<%= render :partial => 'footer.html.erb' %>

