<div class="main_content">

	<div class="float_left">
		<a href="<%= @event.url %>" target="_blank"><img src="<%= @event.imageurl %>" class="show_event_image"></a>
	</div>

	<div>
		<h1><%= @event.title %></h1>
		@ <%= @event.venue %>

		<p><%= @event.date.strftime("%A, %b %d") %> at <%= @event.time.strftime("%I:%M %p") %></p>
		<p><%= link_to "Back", events_path %></p>
	</div>



	<p><iframe src="<%= @event.url %>" class="iframe animated fadeIn" frameBorder="0"></iframe></p>
</div>

