<div class="main_content">

	<a href="/events/new" border="0"><div class="add_button">Add a New Event</div></a>


	<!-- Carousel starts here -->

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <%= link_to image_tag("scon.jpg", :width => "100%", :alt => "SantaCon")  %>
	      <div class="carousel-caption">
	        <h3><%= @fevents.last.title %></h3>
	        <p><span class="at_symbol">@</span> <%= @fevents.last.venue %></p>
	        <p><%= @fevents.last.date.strftime("%A, %b %d") %> <span class="at_symbol">|</span> <%= @fevents.last.time.strftime("%I:%M %p") %></p>
	      </div>
	    </div>
	    <div class="item">
	      <%= link_to image_tag("west.jpg", :width => "100%", :alt => "Westside Thanksgiving") %>	      
	      <div class="carousel-caption">
	        <h3><%= @fevents.first.title %></h3>
			 <p><span class="at_symbol">@</span> <%= @fevents.first.venue %></p>
			 <p><%= @fevents.first.date.strftime("%A, %b %d") %> <span class="at_symbol">|</span> <%= @fevents.first.time.strftime("%I:%M %p") %></p>
	      </div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <i class="fa fa-caret-left fa-3x carousel_picker"></i></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <i class="fa fa-caret-right fa-3x carousel_picker"></i></span>
	  </a>
	</div>

		<!-- Carousel ends here -->

</div>