<%= render :partial => 'maps_show.html.erb' %>

<div class="main_content">

	<div class="col-lg-3 col-xs-12">
		<a href="<%= @fevent.url %>" target="_blank"><img src="<%= @fevent.imageurl %>" class="show_fevent_image"></a>
	</div>

		<div class="social_show visible-xl-block visible-lg-block visible-md-block visible-sm-block">

		<span class='st_facebook_large' displayText='Facebook'></span>
		<span class='st_twitter_large' displayText='Tweet'></span>
		<span class='st_email_large' displayText='Email'></span>
		<span class='st_google_bmarks_large' displayText='Bookmarks'></span>

	</div>

	<div class="col-lg-9 col-xs-12">
		<h1><%= @fevent.title %></h1>
		<div class="visible-xs-block social_small">

			<span class='st_facebook_large' displayText='Facebook'></span>
			<span class='st_twitter_large' displayText='Tweet'></span>
			<span class='st_email_large' displayText='Email'></span>
			<span class='st_google_bmarks_large' displayText='Bookmarks'></span>

		</div>
		<strong><span class="at_symbol">@</span> <%= @fevent.venue %></strong>

		<p><%= @fevent.date.strftime("%A, %b %d") %> at <%= @fevent.time.strftime("%I:%M %p") %></p>
		<p><%= @fevent.description %></p>
		<p><%= link_to "Back", events_path %></p>
	</div>



	<p><iframe src="<%= @fevent.url %>" class="iframe animated fadeIn" frameBorder="0"></iframe></p>

	<div id="map_canvas"></div>
</div>

<%= render :partial => 'footer.html.erb' %>

