<div class="main_content">

	<div class="col-lg-2 col-xs-12">
		<a href="<%= @fevent.url %>" target="_blank"><img src="<%= @fevent.imageurl %>" class="show_fevent_image"></a>
	</div>

	<div class="col-lg-10 col-xs-12">
		<h1><%= @fevent.title %></h1>
		@ <%= @fevent.venue %>

		<p><%= @fevent.date.strftime("%A, %b %d") %> at <%= @fevent.time.strftime("%I:%M %p") %></p>
		<p><%= @fevent.description %></p>
		<p><%= link_to "Back", events_path %></p>
	</div>



	<p><iframe src="<%= @fevent.url %>" class="iframe animated fadeIn" frameBorder="0"></iframe></p>
</div>

