<!DOCTYPE html>
<html>
<head>
  <title>Free LA</title>
  <!-- Font awesome icons -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Google font -->
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- social sharing scripts -->
  <script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "f15a41ed-c1dc-46ac-9928-5284057cc4a4", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

  <!-- styling for google maps -->
  <style type="text/css">
      #map-canvas { height: 300px; width: 100%; margin: 0; padding: 0;}
  </style>
  <!-- google maps api -->
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvl41fmjeaBBlwgySDnKX7xPExYkID5ko">
  </script>

<!-- google maps script -->
  <script type="text/javascript">

 $(document).ready(function () {
    var map;
    var elevator;
    var myOptions = {
        zoom: 11,
        center: new google.maps.LatLng(34.0500, -118.2500),
        mapTypeId: 'terrain'
    };
    map = new google.maps.Map($('#map-canvas')[0], myOptions);

    var addresses = ['<%= @event.address %>'];

    for (var x = 0; x < addresses.length; x++) {
        $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address='+addresses[x]+'&sensor=false', null, function (data) {
            var p = data.results[0].geometry.location
            var latlng = new google.maps.LatLng(p.lat, p.lng);
            new google.maps.Marker({
                position: latlng,
                map: map
            });

        });
    }

});
  </script>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#e6e6e6;">

<%= render :partial => 'header.html.erb' %>

<%= yield %>

<br>

</body>
</html>
