<!DOCTYPE html>
<html>
<head>
  <title>LA Free Events Guide</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#e6e6e6;">

<div class="main_header">
	<div class="inner_header">
      <%= link_to image_tag("logo.png", :alt => "LA Free Events Guide", :class => "logo visible-xl-block visible-lg-block visible-md-block visible-sm-block"), "/" %>

      <%= link_to image_tag("logo.png", :alt => "LA Free Events Guide", :class => "small_logo visible-xs-block"), "/" %>

    <div class="sign_up">
      <% if current_user %>
        <span class="logged_in">
          <span class="white"><%= current_user.email %></span><br>
          <div class="visible-xs inline">
            <a href="/events/new" class="inline">Add Event</a> <span class="white">|</span> <%= link_to "Logout", sessions_path, method: :delete %>
          </div>
            <div class="visible-sm-block visible-md-block visible-lg-block visible-xl-block"><%= link_to "Logout", sessions_path, method: :delete %></div>
        </span>
        <a href="/events/new" border="0"><div class="add_button visible-sm-block visible-md-block visible-lg-block visible-xl-block">Add a New Event</div></a>
      <% else %>
        <%= link_to "Sign Up", new_user_path, {:style=>'color:#FFFFFF;font-size:1.2em;'} %> <span class="pipe_symbol">|</span> <%= link_to "Login", new_sessions_path, {:style=>'color:#FFFFFF;font-size:1.2em;'} %>
      <% end %>
    </div>

	  
  </div>
</div>

<%= yield %>
<br>


</body>
</html>
